<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1><%=listtitle%></h1>
    </div>
    
    <div class="box" >
        <% newListItem.forEach(function(i){ %>
            <form action="/delete" method="post">
            <div class="item">
                
                <input type="checkbox" name="check" value= <%=i._id%> onChange="this.form.submit()">
                <p><%=i.name%></p>
                <input type="hidden" name="a" value=<%=listtitle%> >
                </form> 
            </div>
            
        <% }) %>
    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New item" autocomplete="off">
        <button type="submit" name="button" value="<%=listtitle%>">+</button>
    </form>
    </div>
    
</body>
</html>